doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://bootswatch.com/spacelab/bootstrap.css')
    link(rel='stylesheet', href='http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css')    
    link(rel='stylesheet', href='http://bootswatch.com/assets/css/bootswatch.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content