body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#sufficiency {
  width: 100%;
  height: auto;
}
#helpful {
  width: 100%;
  height: auto;
}
#satisfaction {
  width: 100%;
  height: auto;
}
.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}
